---
import Container from '$/components/container.astro';
import Layout from '$/layouts/Layout.astro';
import sauce from '$images/hero.png';

import { Image } from 'astro:assets';
---

<!-- <html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
  </body>
</html> -->
<Layout title="">
  <Container>
    <h1>Astro</h1>
    <Image src={sauce} alt="Sauce" width="500" />
    <!-- <Hero />
    <Features />
    <Logos />
    <Cta /> -->
  </Container>
</Layout>
